<!DOCTYPE hibernate-configuration PUBLIC
       "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
       "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.pool_size">5<!-- The max number of open connections to a free-tier RDS db is 5 --></property>
		<property name="hibernate.connection.url">jdbc:postgresql://project-2.cqdgxknagm1o.us-east-2.rds.amazonaws.com:5432/project2db</property>
		<property name="hibernate.connection.username">p2admin</property>
		<property name="hibernate.connection.password">adminpass</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.current_session_context_class">thread</property>
<!-- 	<mapping resource="genre.hbm.xml"/> -->
		<mapping class="com.revature.model.User"/>
		<mapping class="com.revature.model.Event"/>
		<mapping class="com.revature.model.Tags"/>
	</session-factory>
</hibernate-configuration>