<p>logincomponent works!</p>

<form>
    <div class="form-group">
        <label for="exampleUsername">Username</label>
        <input type="text" class="form-control" name ="username" aria-describedby="emailHelp" placeholder="Enter username:">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button id="login-btn" type="submit" class="btn btn-primary form-control">Log In</button>
</form>