<agm-map (mapClick)="getLatAndLong($event)" [id] = "map" [zoom]="14" [latitude]="centerlat" [longitude]="centerlng" [draggable] = "false">
    <agm-marker *ngFor="let d of data" [latitude]="d.latitude" [longitude]="d.longitude"
        [visible]=d.eventname.toUpperCase().includes(htmlStr.toUpperCase())||d.eventdescription.toUpperCase().includes(htmlStr.toUpperCase())> </agm-marker><!---Need to populate with more markers. This one is a placeholder for now.-->
    <agm-info-window #infoWindow> <!--Fixme: needs a listener to display infowindow when clicked. also display when moved?-->
        <strong>test text</strong><br>
      </agm-info-window>
</agm-map>
<!--latclicked and longclicked divs-->
<div id="latclicked">{{latStr}}</div>
<div id="longclicked">{{longStr}}</div>