table {
  border-bottom:1px solid gray;
  width: 100%;
}

td{
  padding-left:10px;
}

table:hover {
  background-color:lightskyblue;
}

.search input[type=text] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: table-cell;
    padding: 6px;
    border: 2px solid black;
    font-size: 20px;
}
  
.search {
  float: left;
  display: table;
  padding-right:0px;
}

#searchList {
  overflow-y: scroll;
  height: 100%;
  word-wrap: break-word;
  font-size: 16px;
}

#search-info {
  font-size: 14px;
  color: whitesmoke;
  background-color:rgb(33, 35, 58);
  padding: 10px 0px 10px 10px;
}

#eventname {
  font-size: 28px;
}
#eventdescription{
  font-size: 14px;
}

#btn-attend {
  padding-right: 5px;
}

#btn-remove {
  padding-left:5px;
}

#mapdiv {
  padding-left: 0px;
  height:100vh;
}
agm-map {
  height: 100vh;
}
  